body {
    background-color: rgba(31, 3, 3, 0.851);
}

h1 {
    text-align: center;
    color: antiquewhite;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.845);
}

div {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: auto;
}

div#msg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

select {
    margin: auto;
    width: 200px;
}

section {
    text-align: center;
    font-family: Comic Sans MS;
    font-weight: bold;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 20px;
    width: 350px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.845);
}

footer {
    color: aliceblue;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.845);
}

img {
    width: 210px;
    height: 210px;
}